@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



@theme {
  --color-accent : #000;
  --container-sm : var(--breakpoint-sm);
  --container-md : var(--breakpoint-md);
  --container-lg : var(--breakpoint-lg);
  --container-xl : var(--breakpoint-xl);
  --container-2xl : var(--breakpoint-2xl);
  --font-bebas : "Bebas Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif; 



}
.shine{
  @apply bg-gradient-to-br from-white/60 via-[rgba(255,255,255,0.05)]  to-black/0 p-[1px];
}


html{
  scroll-behavior: smooth;
}


@layer utilities {
  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }

  .animate-star-movement-bottom {
    animation: star-movement-bottom 1s linear infinite alternate;
  }

  .animate-star-movement-top {
    animation: star-movement-top 1s linear infinite alternate;
  }
}



